{% extends 'base.html' %}

{% block content %}

<h1>Our <span class="text-primary">Blog</span> Posts</h1>
<hr><br>

<ul>
    {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{post.title}}</a> - {{post.author.first_name}}
        {{post.author.last_name}} - <small>
            <a href="{% url 'update_post' post.pk %}">[Edit]</a>
            <a href="{% url 'delete_post' post.pk %}">[Delete]</a>
        </small>
        <br>
        {{post.body}}
    </li>
    {% endfor %}
</ul>

{% endblock %}